<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yifeiyuan.android.components">

    <application>
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".BroadcastReceiverActivity"
            android:exported="false" />
        <activity android:name=".ComponentsActivity" />
    </application>

</manifest>